/VY.Api.Layer/obj
/VY.Business.Layer/obj
/VY.Core.Layer/obj/Debug/net8.0
/VY.Entity.Layer/obj
/VY.Api.Layer/bin/Debug/net8.0
/VY.Business.Layer/bin/Debug/net8.0
/VY.Core.Layer/bin/Debug/net8.0
/VY.Core.Layer/obj
/.vs
/VY.DataAccess.Layer/bin/Debug/net8.0
/VY.DataAccess.Layer/obj
/VY.Entity.Layer/bin/Debug/net8.0
/VY.Entity.Layer/bin/Debug/net8.0
/.VSCodeCounter/2024-03-10_21-13-27/results.csv
/.VSCodeCounter/2024-03-10_21-13-27
/VY.Api.Layer/bin/Release/net8.0
/.VSCodeCounter/2024-03-12_01-21-45
/VY.DataAccess.Layer/bin/Release/net8.0
/VY.Core.Layer/bin/Release/net8.0
/VY.Entity.Layer/bin/Release/net8.0
/VY.Business.Layer/bin
